#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a{
  margin:5px;
  color:rgb(245, 163, 178)
}

h2{
  color:rgb(245, 163, 178)
}